@import '../../style/mixins.scss';

.auth {
  width: 100%;
  padding-top: 120px;
  @include flex-center;

  .auth-container {
    @include flex-center;
    flex-direction: column;
    gap: 30px;

    // .social-buttons {}

    .custom-auth {
    }
  }
}
