@font-face {
  font-family: 'Besan';
  src: url('../fonts/Besan.otf') format('truetype');
}

@mixin besan-font {
  font-family: BESAN;
}

@mixin no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
